body {
  font-family: 'Fira Sans', sans-serif;
  /* //background-image: url(../images/stardust.png) */
}

.list-group-item {
  line-height: 2.5;
}
#log-out-btn {
  display: none
}

.jumbotron {
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #444349 75%); */
  
  
}

label
{
  width:140px;
}

 /* ul
{
  
  background-color: rgba(0,0,0,0);
} */
